<app-header></app-header>
<br>
<br>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Fernando Okamura Rodrigues</span>
<h1>Desenvolvedor Java: em busca de uma oportunidade para crescimento profissional na área de TI.</h1>
<img ngSrc="/assets/1.jpeg" width="500" height="250">
        </div>
        <div>
            <img ngSrc="/assets/skills.jpg" width="540" height="400">
        </div>
       
    </section>
    <section class="Infomacoes-section pad-70">
        <div class="Infomacoes-data">
            <br>
            <h2>
                <b style="color: rgb(7, 7, 7);">Contato:</b>(43)99107-5172.
                <br>
                https://github.com/Fernando-Okamura
                <br>
                www.linkedin.com/in/fernando-okamura-51399b295

            </h2>
        </div>

    </section>
    <br>
</main>
