<app-header></app-header>
<br>
<br>
<main>
    <section class="main-section borda pad-70">
        <img class="borda2" ngSrc="/assets/fer.jpg" width="500" height="250">
        <div class="headline">
            <span>Fernando Okamura Rodrigues</span>
            <h1>Desenvolvedor Java: em busca de uma oportunidade para crescimento profissional na área de TI.</h1>
        </div>
    </section>
       <br>
       
       <section class="habilidades">
       <div class="hability">
        <h2><u>Skills:</u></h2> 
        <ul>
            <li>Advanced English;</li>
            <li>Java;</li>
            <li>HTML;</li>
            <li>CSS;</li>
            <li>Mysql;</li>
            <li>Api;</li>
            <li>Intellij, Eclipse, STS, VS Code;</li>
            <li>Ionic/Angular;</li>
            <li>Git/Github.</li>
        </ul>
       </div>
            
           
        
    </section>
    
    <section class="contato borda pad-70">
        <div class="Infomacoes-data">
           
            <h3><u>Contato:</u>(43)99107-5172.</h3>
              
             <p> <a href="https://github.com/Fernando-Okamura">https://github.com/Fernando-Okamura</a></p>
               
            <p><a href="https://www.linkedin.com/in/fernando-okamura-51399b295/#:~:text=www.linkedin.com/in/fernando%2Dokamura%2D51399b295">https://www.linkedin.com/in/fernando-okamura-51399b295/#:~:text=www.linkedin.com/in/fernando%2Dokamura%2D51399b295</a></p>

           
        </div>

    </section>
    <br>
</main>
